//colors
$color_1: #777;
$color_2: #ffffff;
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$font-family_1: "Lato", sans-serif;
$background-color_1: #ffffff;
$color-grey-light-1: #f7f7f7;

// grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//font

$default-font-size: 1.6rem;
